.availability {
  padding: 0;
  margin: 24px auto 0;
  width: 100%;
  background: @main-black; /* url("../../img/img_mobile/back_mobile.jpg") no-repeat; */
  background-size: 100%;
}

.availability__wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

@media (min-width: @tablet-width) {
  .availability__wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
  }
}

.availability__wrapper::before {
  content: "";
  display: block;
  width: 320px;
  height: 286px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 86px;
  background: url("../../img/img_mobile/phone_top_mobile.png");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .availability__wrapper::before {
    width: 660px;
    height: 545px;
    top: 52px;
    background: url("../../img/img_tablet/phone_top_tablet.png");
    background-repeat: no-repeat;
  }
}

.availability__wrapper::after {
  content: "";
  display: block;
  width: 111px;
  height: 197px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 119px;
  background: url("../../img/img_mobile/screen_top_mobile.jpg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .availability__wrapper::after {
    width: 195px;
    height: 346px;
    top: 106px;
    left: 50%;
    transform: translateX(21%);
    background: url("../../img/img_tablet/screen_top_tablet.jpg");
    background-repeat: no-repeat;
  }
}

.availability::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 259px;
  background: url("../../img/img_mobile/back_mobile.jpg") no-repeat;
  background-size: 100%;
}

@media (min-width: @tablet-width) {
  .availability::before {
    background: url("../../img/img_tablet/back_tablet.jpg") no-repeat;
    background-size: 100%;
  }
}

.availability__main-title {
  padding: 0;
  margin-bottom: 314px;
  max-width: 300px;
}

@media (min-width: @tablet-width) {
  .availability__main-title {
    margin: 71px 0 1px 47px;
    max-width: 245px;
  }
}

.availability__slogan {
  .typical-title-mobile;
  color: @basic-white;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .availability__slogan {
    .typical-title-tablet;
    color: @basic-white;
    line-height: 120%;
  }
}

.availability__downloads {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 271px;
  background-color: #1d2631;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media (min-width: @tablet-width) {
  .availability__downloads {
    background-color: rgba(255, 255, 255, 0);
    width: auto;
    margin-left: 20px;
  }
}

.availability__main-link {
  padding: 0;
  margin: 28px 0 58px;
  width: 280px;
  height: 55px;
  border: 3px solid @basic-white;
  box-sizing: border-box;
  border-radius: 29px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: @basic-white;
}

@media (min-width: @tablet-width) {
  .availability__main-link {
    width: 300px;
    margin-bottom: 84px;
  }
}

.availability__sys-list {
  width: 240px;
  min-height: 50px;
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.availability__appstore-link::before {
  content: "";
  display: block;
  width: 47px;
  height: 56px;
  position: absolute;
  top: -26px;
  left: 7%;
  background: url("../../img/apple-logo.svg");
}

.availability__playmarket-link::before {
  content: "";
  display: block;
  width: 43px;
  height: 47px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  background: url("../../img/android-logo.svg");
}

.availability__windows-link::before {
  content: "";
  display: block;
  width: 44px;
  height: 41px;
  position: absolute;
  top: -14px;
  right: 7%;
  background: url("../../img/microsoft-logo.svg");
}

@media (min-width: @tablet-width) {
  .availability__appstore-link::before {
    top: -38px;
  }

  .availability__playmarket-link::before {
    top: -33px;
  }

  .availability__windows-link::before {
    top: -30px;
    right: 8%;
  }
}

.availability__text {
  padding: 0;
  margin: 0 0 32px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @basic-white;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .availability__text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 114px;
  }
}
