.capability {
  width: 1200px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

.capability__wrapper {
  padding: 0;
  margin: 0;
  background-color: @basic-white;
}

.slogan-capability {
  .typical-title;
  text-align: center;
}

.capability__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-image: url("../../img/grey_background_corner.png");
}

.capability__item-topic {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.capability__item-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @main-black;
  padding: 0;
  margin: 0;
}

.capability-effect {
  padding: 0;
  margin: 0;
  background-color: @main-grey;
}

.link-detals {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @main-pink;
}
