.contacts {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto 32px;
}

@media (min-width: @tablet-width) {
  .contacts {
    margin-bottom: 29px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    margin-bottom: 63px;
  }
}

.contacts__wrapper {
  padding: 0;
  margin: 0;
  position: relative;
}

.contacts__slogan {
  .typical-title-mobile;
  text-align: center;
  padding: 0;
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .contacts__slogan {
    .typical-title-tablet;
    margin-bottom: 33px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__slogan {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 41px;
  }
}

.contacts__list {
  padding: 0;
  margin: 0 auto 17px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  position: relative;
  list-style-type: none;
  z-index: 4;
}

@media (min-width: @tablet-width) {
  .contacts__list {
    margin: 0 auto 23px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 960px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__list {
    margin: 0 auto 19px;
  }
}

.contacts__item {
  padding: 0;
  margin-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .contacts__item {
    margin: 0;
    padding: 0 41px 42px 58px;
  }

  .contacts__item-address {
    margin-right: 16px;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts__item {
    padding: 0;
    width: 320px;
  }

  .contacts__item-address {
    margin: 0;
    order: 1;
  }

  .contacts__item-phone {
    margin-left: 0;
  }

  .contacts__item-email {
    order: 2;
  }
}

.contacts__invitation {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: @main-black;
}

@media (min-width: @tablet-width) {
  .contacts__invitation {
    padding-bottom: 3px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__invitation {
    padding-bottom: 20px;
  }
}

.contacts__data {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @main-pink;
  padding: 0;
  margin: 0;
}

.contacts__wrapper::before {
  content: "";
  display: block;
  width: 100%;
  min-height: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 279px;
  background-image: url("../../img/img_mobile/triangle_white_footer.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 3;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper::before {
    top: 305px;
    background-image: url("../../img/img_tablet/triangl_tablet.png");
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper::before {
    top: 286px;
    background-image: url("../../img/triangle_index.png");
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  height: auto;
}

.contacts__map-img {
  width: 100%;
  height: auto;
}

.contacts__google-map {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 8px;
  left: 0;
  z-index: 2;
}
