.copyright {
  min-width: 130px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .copyright {
    margin-left: 84px;
    padding-top: 9px;
  }
}

/* .copyright__link {
  padding-right: 40px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  position: relative;
} */

/* .copyright__link::before {
  content: "";
  display: block;
  width: 27px;
  height: 34px;
  position: absolute;
  left: 103px;
  top: -8px;
  background-image: url("../../img/img_mobile/html_academy_logo.svg");
  background-repeat: no-repeat;
} */

.copyright__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  margin: 0;
  padding-bottom: 6px;
}

.copyright__link {
  padding: 0;
  margin: 0;
}

.copyright__link-icon {
  width: 27px;
  height: 34px;
  padding: 0;
  margin: 0;
  fill: @main-pink;
}
