.effects {
  display: none;
  position: relative;
  padding: 0;
  margin: 0 auto 76px;
  width: 100%;
  /*   background-image: url("../../img/img_tablet/timer.png");
  background-repeat: no-repeat;
  background-position: 20px 53px; */
}

@media (min-width: @tablet-width) {
  .effects {
    display: flex;
    justify-content: center;
    background-color: @basic-white;
    position: relative;
    /*  background-image: url("../../img/img_tablet/timer.png");
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%); */
  }
}

.effects__list {
  padding: 0 0 0 329px;
  margin-top: 66px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 330px;

  &::before {
    content: "";
    display: block;
    width: 238px;
    height: 276px;
    position: absolute;
    top: 54px;
    left: 50%;
    transform: translateX(-310px);
    background-image: url("../../img/img_tablet/timer.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
  }

  &::after {
    content: "24";
    display: block;
    width: 202px;
    height: 202px;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-292px);
    border: 16px solid #d22856;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 2;
    font-weight: bold;
    font-size: 96px;
    line-height: 163px;
    text-align: center;
    color: #d22856;
  }

  /*  &::before {
    content: "";
    display: block;
    width: 202px;
    height: 202px;
    position: absolute;
    left: 38px;
    top: 110px;
    background-image: url("../../img/img_tablet/diagram-fill.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 2;
  }

  &::after {
    content: "";
    display: block;
    width: 110px;
    height: 75px;
    position: absolute;
    left: 84px;
    top: 173px;
    background-image: url("../../img/img_tablet/24.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 2; */
}

.effects__item-topic {
  padding: 0;
  margin-right: 45px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.effects__item-text {
  padding-bottom: 10px;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @main-black;
}

.effects__item-link {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: @main-pink;
}
