.effects {
  display: none;
  position: relative;
  padding: 0;
  margin: 0 auto 76px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .effects {
    display: flex;
    justify-content: center;
    background-color: @basic-white;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .effects {
    background-color: @main-grey;
    margin-bottom: 168px;
  }
}

.effects__list {
  padding: 0 0 30px 329px;
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 330px;

  &::before {
    content: "";
    display: block;
    width: 238px;
    height: 276px;
    position: absolute;
    top: 54px;
    left: 50%;
    transform: translateX(-310px);
    background-image: url("../../img/img_tablet/timer.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
  }

  &::after {
    content: "24";
    display: block;
    width: 202px;
    height: 202px;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-292px);
    border: 16px solid #d22856;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 2;
    font-weight: bold;
    font-size: 96px;
    line-height: 163px;
    text-align: center;
    color: #d22856;
  }
}

@media (min-width: @desktop-width) {
  .effects__list {
    padding: 0;
    margin: 97px 0 111px 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 550px;
  }

  .effects__list::before {
    width: 298px;
    height: 345px;
    top: 32px;
    left: 50%;
    transform: translateX(-157%);
    background-image: url("../../img/timer.svg");
    background-repeat: no-repeat;
  }

  .effects__list::after {
    content: "24";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 252px;
    top: 103px;
    left: 50%;
    transform: translateX(-446px);
    border: 19px solid #d22856;
    font-weight: bold;
    font-size: 120px;
    line-height: 163px;
  }
}

.effects__item-topic {
  padding: 0;
  margin-right: 45px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

@media (min-width: @desktop-width) {
  .effects__item-topic {
    margin-bottom: 26px;
    line-height: 30px;
  }
}

.effects__item-text {
  padding-bottom: 10px;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @main-black;
}

@media (min-width: @desktop-width) {
  .effects__item-text {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 32px;
  }
}

.effects__item-link {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: @main-pink;
}

@media (min-width: @desktop-width) {
  .effects__item-link {
    font-size: 18px;
    line-height: 30px;
  }
}
