.page-header {
  padding-bottom: 0;
  margin: 0 auto 28px;
  width: 100%;
  height: 100%;
  background: @main-black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

@media (min-width: @tablet-width) {
  .page-header {
    margin: 0 auto 66px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    flex-direction: row;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 59px;
  }
}

.page-header__logo-container {
  width: 100%;
  min-height: 69px;
  /* background-color: #283645; */
  box-shadow: 0 1px 0 #000000;
}

@media (min-width: @tablet-width) {
  .page-header__logo-container {
    min-height: 109px;
  }

  @media (min-width: @desktop-width) {
    .page-header__logo-container {
      box-shadow: none;
      width: 14%;
    }
  }
}

.page-header__logo-image {
  width: 145px;
  height: 40px;
  margin: 6px 0 0 -51px;
  fill: @basic-white;
}

.page-header__logo-image-stars,
.page-header__logo-image-glasses-partly,
.page-header__logo-image-glasses-full,
.page-header__logo-image-fragment {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__logo-image {
    width: 145px;
    height: 40px;
    margin: 27px 0 0 20px;
  }

  .page-header__logo-image-glasses-full {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-image {
    width: 147px;
    height: 40px;
    margin: 27px 0;
  }

  .page-header__logo-image-glasses-full {
    display: none;
  }

  .page-header__logo-image-stars {
    display: block;
    fill: @main-pink;
  }

  .page-header__logo-image-fragment,
  .page-header__logo-image-glasses-partly {
    display: block;
  }
}

.page-header__logo-image:hover {
  fill: @main-pink;
}

.page-header__logo-image:active {
  fill: rgba(255, 255, 255, 0.3);
}

.page-header__logo-image:active .page-header__logo-image-stars:active {
  fill: @main-pink;
}
