.page-footer {
  width: 1200px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

.page-footer__wrapper {
  width: 1200px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.page-footer__logo-image {
  width: 147px;
  height: 40px;
}

.page-footer__social {
  padding: 0;
  margin: 0;
}

.social__list {
  width: 200px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.copyright__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: @main-black;
}
