.page-header {
  background-color: gray;
  padding: 0;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: @basic-white;
}

.page-header__logo {
  display: block;
  width: 147px;
  height: 40px;
}

.main-nav {
  padding: 0;
  margin: 0;
}

.main-nav__wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: @basic-white;
}

.site-list__item-content {
  text-decoration: none;
  list-style-type: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: @basic-white;
}
