.photo-gallery {
  width: 100%;
  padding: 0;
  margin: 0 auto 21px;
}

@media (min-width: @tablet-width) {
  .photo-gallery {
    margin-bottom: 65px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery {
    margin-bottom: 23px;
  }
}

.photo-gallery__wrapper {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.photo-gallery__title-block {
  width: 100%;
  min-height: 143px;
  padding: 0;
  margin: 28px 0 0;
  background-color: @main-black;
  position: relative;
}

@media (min-width: @tablet-width) {
  .photo-gallery__title-block {
    min-height: 264px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__title-block {
    position: inherit;
    min-height: 226px;
  }
}

.photo-gallery__title-block::before {
  content: "";
  display: block;
  width: 100%;
  height: 462px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -95px;
  background: @main-black url("../../img/img_mobile/back_mobile.jpg");
  background-size: 100%;
  z-index: 1;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/img_mobile/back_mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .photo-gallery__title-block::before {
    background: @main-black url("../../img/img_tablet/back_tablet.jpg");
    background-size: 100%;
    height: 729px;
    top: -177px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/img_tablet/back-tablet@2x.jpg");
      background-size: 100%;
    }
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__title-block::before {
    background: @main-black url("../../img/back-desktop.jpg");
    background-size: 100%;
    height: 100%;
    top: 0;

    @media (min-resolution: 2dppx) {
      background: url("../../img/back-desktop@2x.jpg");
      background-size: 100%;
    }
  }
}

.photo-gallery__main-title {
  padding: 0 74px;
  margin: 0 auto;
  list-style-type: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @basic-white;
  position: relative;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .photo-gallery__main-title {
    font-size: 50px;
    line-height: 68px;
    padding: 0 140px;
    margin-top: 66px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__main-title {
    padding: 0 300px;
    margin-top: 0;
  }
}

.photo-gallery__text-block {
  padding: 0;
  margin: 0;
  min-height: 184px;
  background-color: white;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .photo-gallery__text-block {
    min-height: 229px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__text-block {
    min-height: 240px;
  }
}

.photo-gallery__text-top {
  padding-bottom: 5px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @main-black;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .photo-gallery__text-top {
    padding: 13px 110px 0;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__text-top {
    padding: 0 240px;
  }
}

.photo-gallery__main-photo {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .photo-gallery__main-photo {
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__main-photo {
    margin: 0 auto 50px;
  }
}

.photo-gallery__lable-panorama {
  display: flex;
  width: 140px;
  height: 36px;
  position: absolute;
  right: 20px;
  top: 0;
  background-color: @main-pink;
  background-size: 100%;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .photo-gallery__lable-panorama {
    top: 56px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__lable-panorama {
    top: 54px;
    right: 131px;
  }
}

.photo-gallery__main-photo-link {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.photo-gallery__main-photo-content {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.photo-gallery__photo-content {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.photo-gallery__main-photo-inf {
  min-height: 175px;
  display: block;
  padding-top: 17px;
  margin: 0 20px 20px 20px;
  background-color: @main-grey;

  @media (min-width: @tablet-width) {
    padding-top: 21px;
    position: relative;
    min-height: 99px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 23px;
    width: 940px;
    margin: 0 auto;
    min-height: 73px;
  }
}

.photo-gallery__author-name {
  padding: 0 17px 0 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @main-black;
  display: block;
}

@media (min-width: @tablet-width) {
  .photo-gallery__author-name {
    padding: 0 17px 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__author-name {
    padding: 0 17px 0 27px;
  }
}

.photo-gallery__time-ago {
  padding-top: 2px;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: @main-black;
  text-transform: uppercase;
}

.photo-gallery__main-photo-comment {
  padding: 0 10px 6px 17px;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: left;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 0 10px 17px 30px;
    min-height: 48px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 10px 0 27px;
    min-height: 48px;
  }
}

.photo-gallery__comment {
  padding: 0 10px 6px 17px;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: left;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .photo-gallery__comment {
    padding: 0 10px 41px 30px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__comment {
    padding: 0 10px 0 27px;
  }
}

.photo-gallery__main-photo-likes {
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: @main-pink;
  text-transform: uppercase;
  padding-left: 14px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 23px;
    right: 59px;
  }
}

.photo-gallery__likes {
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: @main-pink;
  text-transform: uppercase;
  padding-left: 14px;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 24px;
    left: 16px;
  }

  @media (min-width: @desktop-width) {
    top: 508px;
    left: 13px;
  }
}

.photo-gallery__like-button {
  margin-left: 17px;
  background: url("../../img/heart.svg") no-repeat;
  width: 13px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .photo-gallery__like-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

  .photo-gallery__main-photo-like-button {
    bottom: 79px;
    right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__like-button {
    left: 239px;
    bottom: 29px;
  }

  .photo-gallery__main-photo-like-button {
    left: auto;
    bottom: 54px;
    right: 31px;
  }
}

.photo-gallery__list {
  padding: 0;
  margin: 0 20px 41px;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 20px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    width: 940px;
    margin: 0 auto;
  }
}

.photo-gallery__item {
  margin: 0 0 20px;
  padding-bottom: 18px;
  background-color: @main-grey;
}

@media (min-width: @tablet-width) {
  .photo-gallery__item {
    margin: 0;
    min-height: 437px;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__item {
    min-height: 537px;
    position: relative;
    margin-bottom: 35px;
  }
}

.photo-gallery__link {
  display: block;
  padding-bottom: 18px;
  margin: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding-bottom: 22px;
  }
}

.photo-gallery__content {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
}
