.photo-gallery {
  width: 100%;
  padding: 0;
  margin: 0 auto 21px;
}

@media (min-width: @tablet-width) {
  .photo-gallery {
    margin-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery {
    margin-bottom: 30px;
  }
}

.photo-gallery__wrapper {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.photo-gallery__title-block {
  width: 100%;
  min-height: 143px;
  padding: 0;
  margin: 0;
  background-color: @main-black;
  position: relative;
}

@media (min-width: @tablet-width) {
  .photo-gallery__title-block {
    min-height: 264px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__title-block {
    position: inherit;
    min-height: 226px;
  }
}

.photo-gallery__title-block::before {
  content: "";
  display: block;
  width: 100%;
  height: 462px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -95px;
  background: url("../../img/img_mobile/back_mobile.jpg");
  background-size: 100%;
  z-index: 1;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/img_mobile/back_mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .photo-gallery__title-block::before {
    background: url("../../img/img_tablet/back_tablet.jpg");
    background-size: 100%;
    height: 729px;
    top: -177px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/img_tablet/back-tablet@2x.jpg");
      background-size: 100%;
    }
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__title-block::before {
    background: @main-black url("../../img/back-desktop.jpg");
    background-size: 100%;
    height: 100%;
    top: 0;

    @media (min-resolution: 2dppx) {
      background: url("../../img/back-desktop@2x.jpg");
      background-size: 100%;
    }
  }
}

.photo-gallery__main-title {
  /* width: 260px; */
  /* padding: 28px 0 77px; */
  padding: 0 74px;
  margin: 0 auto;
  list-style-type: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @basic-white;
  position: relative;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .photo-gallery__main-title {
    font-size: 50px;
    line-height: 68px;
    padding: 0 140px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__main-title {
    padding: 0 300px;
  }
}

.photo-gallery__text-block {
  padding: 0;
  margin: 0;
  min-height: 184px;
  background-color: white;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .photo-gallery__text-block {
    min-height: 229px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__text-block {
    min-height: 240px;
  }
}

.photo-gallery__text-top {
  padding-bottom: 5px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @main-black;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .photo-gallery__text-top {
    padding: 13px 110px 0;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__text-top {
    padding: 0 240px;
  }
}

.photo-gallery__main-photo {
  width: 100%;
  padding: 0;
  margin: 0 auto 19px;
  position: relative;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .photo-gallery__main-photo {
    margin: 0 auto 40px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__main-photo {
    margin: 0 auto 22px;
  }
}

.photo-gallery__lable-panorama {
  display: flex;
  width: 140px;
  height: 36px;
  position: absolute;
  right: 20px;
  top: 0;
  background-color: @main-pink;
  background-size: 100%;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .photo-gallery__lable-panorama {
    top: 56px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__lable-panorama {
    top: 54px;
    right: 131px;
  }
}

.photo-gallery__main-photo-link {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.photo-gallery__main-photo-content {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.photo-gallery__main-photo-inf {
  padding: 14px 0 17px 17px;
  margin: 0 auto;
  width: 82vw;
  background-color: @main-grey;
}

@media (min-width: @tablet-width) {
  .photo-gallery__main-photo-inf {
    padding: 22px 0 0 29px;
    margin: 0 auto;
    width: 89vw;
    display: grid;
    grid-template-columns: 1fr 105px 42px;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
      "name likes-number likes-button"
      "comment comment comment";
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__main-photo-inf {
    width: 76vw;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 105px 45px;
  }
}

.photo-gallery__photo-inf {
  margin: 0;
  padding: 0 0 16px 17px;
}

@media (min-width: @tablet-width) {
  .photo-gallery__photo-inf {
    margin: 0;
    padding: 12px 0 24px 28px;
    display: grid;
    grid-template-columns: 1fr 42px;
    grid-template-rows: 12px 3fr 1fr;
    grid-template-areas:
      "name name"
      "comment comment"
      "likes-number likes-button";
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__photo-inf {
    padding: 12px 0 24px 28px;
  }
}

.photo-gallery__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @main-black;
}

@media (min-width: @tablet-width) {
  .photo-gallery__author-name {
    grid-area: name;
  }
}

.photo-gallery__time-ago {
  padding: 2px 0 0 2px;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: @main-black;
  text-transform: uppercase;
}

.photo-gallery__comment {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @main-black;
  text-align: left;
  margin-bottom: 7px;
}

@media (min-width: @tablet-width) {
  .photo-gallery__comment {
    grid-area: comment;
    padding: 12px 10px 0 0;
  }

  .photo-gallery__main-photo-inf .photo-gallery__comment {
    padding-top: 0;
  }
}

.photo-gallery__likes {
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: @main-pink;
  text-transform: uppercase;
  padding-left: 14px;
}

@media (min-width: @tablet-width) {
  .photo-gallery__likes {
    grid-area: likes-number;
    padding: 0;
  }
}

.photo-gallery__like-button {
  background: url("../../img/img_mobile/heart.png");
  width: 13px;
  height: 12px;
  display: inline-block;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .photo-gallery__like-button {
    align-self: center;
  }
}

.photo-gallery__list {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .photo-gallery__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.photo-gallery__item {
  margin: 0 10px 20px;
  width: 88vw;
  min-height: 301px;
  background-color: @main-grey;
}

@media (min-width: @tablet-width) {
  .photo-gallery__item {
    margin: 10px 12px;
    width: 45vw;
    min-height: 455px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__item {
    margin: 27px 10px;
    width: 25vw;
    min-height: 455px;
  }
}

.photo-gallery__link {
  padding: 0;
  margin: 0;
  width: 100%;
}

.photo-gallery__content {
  width: 100%;
  height: auto;
  margin: 0;
  padding-bottom: 12px;
  display: block;
}
