.photo-upload {
  width: 100%;
  padding: 0;
  margin: 0 auto 39px;
}

.photo-upload__title {
  padding: 0;
  margin-bottom: 44px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @main-black;
}

@media (min-width: @tablet-width) {
  .photo-upload__title {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 69px;
  }
}

.photo-upload__form {
  width: 100%;
  padding-top: 20px;
  margin: 0;
  background-color: @main-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .photo-upload__form {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 19px;
    justify-content: center;
    padding: 20px 0 11px;
  }
}

.photo-upload__control {
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .photo-upload__control {
    margin: 0;
  }
}

.photo-upload__link {
  padding: 0;
  margin-bottom: 37px;
}

@media (min-width: @tablet-width) {
  .photo-upload__link {
    padding-top: 33px;
  }
}

.photo-upload__content {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
}

.photo-upload__list-control-icons {
  width: 100%;
  padding: 0;
  margin: 0 0 26px 5px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .photo-upload__list-control-icons {
    display: none;
  }
}

.photo-upload__item-control-icon {
  padding: 0;
  margin-left: 26px;
}

.photo-upload__control-icon {
  fill: @basic-black;
  opacity: 0.3;
  margin: 5px;
}

.photo-upload__control-icon--active {
  fill: @main-pink;
  opacity: 1;
}

.photo-upload__list-handles {
  padding: 0;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .photo-upload__list-handles {
    padding-left: 62px;
    margin-bottom: 71px;
    display: block;
  }
}

.photo-upload__item-handle {
  padding-bottom: 40px;
  margin: 0;
  position: relative;
  display: none;
}

.photo-upload__item-handle--active {
  display: block;
}

@media (min-width: @tablet-width) {
  .photo-upload__item-handle {
    display: block;
    padding-bottom: 72px;
  }
}

.photo-upload__scale {
  background: @main-black;
  height: 2px;
  width: 240px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  position: absolute;
}

@media (min-width: @tablet-width) {
  .photo-upload__scale {
    width: 202px;
    top: 39px;
  }

  .photo-upload__scale-crop::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: -9px;
    left: -50px;
    background: url("../../img/img_tablet/crop.svg");
    background-repeat: no-repeat;
  }

  .photo-upload__scale-fill::after {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    position: absolute;
    top: -7px;
    left: -51px;
    background: url("../../img/img_tablet/fill.svg");
    background-repeat: no-repeat;
  }

  .photo-upload__scale-contrast::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -8px;
    left: -48px;
    background: url("../../img/img_tablet/contrast.svg");
    background-repeat: no-repeat;
  }
}

.photo-upload__handle-crop {
  position: absolute;
  width: 14px;
  height: 14px;
  background: @basic-white;
  border: 2px solid #d22856;
  box-sizing: border-box;
  border-radius: 50%;
  display: block;
  top: -5px;
  right: 33px;
}

@media (min-width: @tablet-width) {
  .photo-upload__handle-crop {
    right: 28px;
  }
}

.photo-upload__handle-fill {
  position: absolute;
  width: 14px;
  height: 14px;
  background: @basic-white;
  border: 2px solid #d22856;
  box-sizing: border-box;
  border-radius: 50%;
  display: block;
  top: -5px;
  left: 33px;
}

@media (min-width: @tablet-width) {
  .photo-upload__handle-fill {
    left: 25px;
  }
}

.photo-upload__handle-contrast {
  position: absolute;
  width: 14px;
  height: 14px;
  background: @basic-white;
  border: 2px solid #d22856;
  box-sizing: border-box;
  border-radius: 50%;
  display: block;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.photo-upload__buttons {
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .photo-upload__buttons {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8px;
  }
}

.photo-upload__button {
  padding: 0;
  width: 280px;
  height: 55px;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .photo-upload__button {
    width: 260px;
  }
}

.photo-upload__button-send {
  margin-bottom: 12px;
  height: 55px;
  border: 3px solid #d22856;
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .photo-upload__button-send {
    margin-bottom: 25px;
  }
}

.photo-upload__button-cancel {
  margin-bottom: 41px;
  border: 3px solid #283645;
  color: #283645;
  opacity: 0.1;
}
