.price {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.price__wrapper {
  padding: 0;
  margin: 0;
  background-image: url("../../img/grey_background_corner_small.png");
  background-repeat: no-repeat;
  list-style-type: none;
  display: grid;
}

.row__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-row__list {
  padding: 0;
  margin: 0 0 0 318px;
  grid-template-columns: 1fr 1fr 1fr;
}

.row-tariff {
  padding: 0;
  margin: 0;
}
