.reviews {
  padding: 0;
  margin: 0 auto 137px;
  width: 100%;

  position: relative;
}

@media (min-width: @tablet-width) {
  .reviews {
    margin: 0 auto 161px;
  }
}

.reviews__wrapper {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

@media (min-width: @desktop-width) {
  .reviews__wrapper::before {
    content: "";
    display: block;
    width: 79px;
    height: 63px;
    position: absolute;
    top: -95px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../../img/quotes.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
  }
}

.reviews__list {
  margin-left: 19px;
  /* margin-left: calc(-2 * (100vw - 17px) + 19px); */
  /* margin-left: calc(-1 * (100vw - 17px) + 19px); */
  margin-right: 22px;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  background-color: @basic-white;
  position: relative;
}

@media (min-width: @tablet-width) {
  .reviews__list {
    margin-bottom: 36px;
  }
}

.reviews__item {
  padding: 0;
  margin: 0;
  width: calc((100vw - 39px) * 1);
}

.reviews__author-info {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @main-black;
  text-align: center;
  order: 1;
}

@media (min-width: @tablet-width) {
  .reviews__text {
    order: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 35px;
    max-width: 700px;
  }
}

.reviews__author-about {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews__author-about {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: @main-black;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews__author-about {
    font-size: 18px;
  }
}

.reviews__author-name {
  padding: 0;
  margin: 44px 0 1px;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .reviews__author-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews__author-name {
    font-size: 24px;
    padding-bottom: 4px;
  }
}
