.reviews {
  padding: 0;
  margin: 0 auto 139px;
  width: 100%;
  background-color: @basic-white;
  position: relative;
}

@media (min-width: @tablet-width) {
  .reviews {
    margin: 0 auto 102px;
  }
}

.reviews__wrapper {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.reviews__list {
  margin-left: 19px;
  /* margin-left: calc(-2 * (100vw - 17px) + 19px); */
  /* margin-left: calc(-1 * (100vw - 17px) + 19px); */
  margin-right: 22px;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  background-color: @basic-white;
  position: relative;
}

.reviews__item {
  padding: 0;
  margin: 0;
  width: calc((100vw - 39px) * 1);
}

.reviews__author-info {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.reviews__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @main-black;
  text-align: center;
  order: 1;
}

@media (min-width: @tablet-width) {
  .reviews__text {
    order: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 35px;
  }
}

.reviews__author-about {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews__author-about {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: @main-black;
    margin: 0;
  }
}

.reviews__author-name {
  padding: 0;
  margin: 44px 0 1px;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .reviews__author-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }
}

.reviews__toggles {
  padding: 0;
  margin: 0;
  text-align: center;
}
