//Colors

@basic-black: #000000;
@basic-white: #ffffff;
@basic-white-rgb-1: rgba(255, 255, 255, 0.3);
@main-pink: #d22856;
@main-pink-rgb-1: rgba(210, 40, 86, 0.3);
@main-black: #283645;
@main-black-rgb: rgb(40, 54, 69);
@main-black-rgb-1: rgba(40, 54, 69, 0.3);
@main-black-rgb-2: rgba(40, 54, 69, 0.1);
@basic-grey: #efefef;
@main-grey: #f2f2f2;
@dark-grey: #dedede;
@special-grey: #e5e5e5;
@basic-red: #f25b26;
@basic-green: #3dc644;
@1special-green: #2aab6d;
@2special-green: #1c9b5e;
@black-rgb-1: rgba(0, 0, 0, 0.3);
@black-add-1: #1d2631;

// Viewports

@tablet-width: 660px;
@desktop-width: 1200px;
