//Colors

@basic-black: #000000;
@basic-white: #ffffff;
@main-pink: #d22856;
@main-black: #283645;
@basic-grey: #efefef;
@main-grey: #f2f2f2;
@dark-grey: #dedede;
@special-grey: #e5e5e5;
@basic-red: #f25b26;
@basic-green: #3dc644;
@1special-green: #2aab6d;
@2special-green: #1c9b5e;

// Viewports

@tablet-width: 660px;
@desktop-width: 1200px;

//Mixins

.typical-title-mobile() {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: @main-black;
}

.typical-title-tablet() {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 54px;
  color: @main-black;
}
